<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="background-color: white;">
  <div *ngIf="showScanner">
    <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
  </div>
  <div>
    <p class="scan container-fluid">
      <small></small>
      <strong>{{scanResult}}</strong>
    </p>
    <ion-button (click)="startScanner()" class="link" shape="round" expand="block">
      Escanear
    </ion-button>
  </div>
</ion-content>
